body{
    background-color: #02020e;
    margin:0;
    padding:0;
    background-repeat:repeat; 
    height: 200px;
}

h1{
    font-size: 70px;
    letter-spacing: 1px;
    color:white
}

h2{
    float: right;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 14px;
    
    text-align: justify;
}

h3 {
    float: left;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 10px;
    
}

.checked {
    color: black;
}

a{
    color: white;
    text-decoration: none;
}

p{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-right: 14px;
}

.home-container{
    width: 100%;
    height: 800px;
    position: top;
    
    background-size: cover;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
 
.movie-con {
    width: 30%;
    height: 500px;
    background-color: white;
    float: left;
    margin-top: 5%;
    margin-left: 2%;
    padding-left: 40px;
    padding-right:40px;
    
}

.content{
    
    width: 40%;
    float: right;
    margin-top: 10%;
    margin-right: 2%;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
}

.button {
    flex: 1 1 auto;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    width: 140px;
    border-radius: 35px;
    background-color: #F56C35;
    height: 40px;
    background-image: linear-gradient(to right, #de787c 20%, #891179 51%);
    height: 35px;
    text-align: center;
    font-size: 11px !important;
    color: white;
    letter-spacing: 2px;
    padding-top: 14px;
    padding-top: 10px;
    font-weight: 900;
    margin-top: 30px;
    font-family: 'Montserrat';
    float:left;
    margin-right: 30px;
 }

.button:hover {
    opacity: 0.6; 
}

.button-one{
    background-color: #F56C35;
}

.button-two{
    background-color: #F56C35;
}

.trailer {
    float: left;
    width: 80%;
    height: 300px;
    background-color: green;
    margin-right: 100px;
    
}

.effect1{
    -webkit-box-shadow: 0 10px 6px -6px black;
       -moz-box-shadow: 0 10px 6px -6px black;
            box-shadow: 0 10px 6px -6px black;
}

.footer-container{
    width:100%;
    min-height:190px;
    background-color: #02020e;
    color: white;
    float: left;
   
}


.footer-content{
    margin: 0 auto;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
 
}

.footer-logo{
    width:90px;
    padding: 20;
}

.footer-logo img{
    width:80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 50px;
}

.footer-container {
    float: left;
}

