body{
    margin:0;
    padding:0;
    background-repeat:repeat; 
    height: 200px;
    background-color: #02020e;
}

h1{
    font-size: 30px;
    letter-spacing: 1px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 14px;
    margin-top: -30px;
    text-align: justify;
}

a{
    color: white;
    text-decoration: none;
}

p{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.home-container{
    width: 100%;
    height: 500px;
    position: top;
    background: linear-gradient(to top, #02020e 0%, transparent),  url(../img/moviesbackground.png);
    background-size: cover;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.next-right img{
    width: 30px;
    height: 35px;
    float: right;
    margin-top: 20%;
    background-size: cover;
    margin-right: 3%;
}

.next-left img{
    width: 30px;
    height: 35px;
    float: left;
    margin-top: 20%;
    background-size: cover;
    margin-left: 3%;
}

.content{
    width: 40%;
    float: left;
    margin-top: 28%;
    margin-left: 2%;
}

.button {
    flex: 1 1 auto;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    width: 140px;
    border-radius: 35px;
    background-color: #F56C35;
    height: 40px;
    text-align: center;
    font-size: 11px;
    color: white;
    letter-spacing: 2px;
    padding-top: 14px;
    font-weight: 900;
    margin-top: 30px;
    font-family: 'Montserrat';
    float:left;
    margin-right: 30px;
 }

.button:hover {
    opacity: 0.6; 
}

.button{
    background-color: #F56C35;
}

.movie-content{
    background-color: #02020e;
    height: 500px;
    width: 100%;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 150px !important;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F56C35;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.filter-button {
    flex: 1 1 auto;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    width: 140px;
    background-color: #F56C35;
    height: 40px;
    text-align: center;
    font-size: 11px;
    color: white;
    letter-spacing: 2px;
    padding-top: 5px;
    font-weight: 900;
    margin-top: 30px;
    font-family: 'Montserrat';
    float:left;
    margin: 0auto;
 }

.filter-box{
    width: 205px;
    float: left;
    margin-left: 30px;
    height: 400px;
    background-color: #101033;
    color: grey;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    padding: 20px;
    
}

.filter-box2{
    float: left;
    width: 450px;
    margin-left: 30px;
    height: 180px;
    background-color: #101033;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    padding: 20px;
    margin: 0auto;
    
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; 
  font-family: 'Montserrat', sans-serif !important;
  margin-top: 10px;
  margin-left: 10px;
}

.custom-dropdown select {
  background-color:#F56C35 ;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { 
  content: "\25BC";
  height: 20px;
  font-size: 12px;
  line-height: 1;
  right: 0.8em;
  top: 50%;
  margin-top: -.2em;
}

.custom-dropdown::before { 
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0; 
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

h3{
    color: white;
    margin-left: 30px;
    font-size: 15px;
}

.posters{
    margin-top: 65px;
}

.row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.navigation-container{
    width: 100%;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 60px;
    overflow: hidden;
    
}

.logo-container{
    width:100px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.logo-container img{
    float:left;
    width:60px;
    padding: 10px;
}

.navigation-item-container{
    margin-top: 10px;
    float: left; 
    color: white;
    margin-right: 20px;
}

.navigation-buttons a li{
    display: inline;
    text-decoration: none; 
    list-style: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
     -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.navigation-buttons a li:hover{
    display: inline;
    text-decoration: none; 
    list-style: none;
    color: #F56C35;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.navigation-buttons a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }

  .navigation-buttons a:hover {
    border-bottom: 2px solid linear-gradient(to right, rgba(222,120,124,1), rgba(76,20,114,1)) ;
  }
  
  .navigation-buttons a.active1 li {
    border-bottom: 3px solid #F56C35;
  }

.search-icn{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 2%;
    margin-left: 32%;
    background-size: cover;
    background-image: url(../img/search%20icon.png);
}

.profile{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    background-size: cover;
    background-image: url(../img/profile.png);
}

.footer-container{
    width:100%;
    height:400px;
    background-image: linear-gradient(to bottom, #02020e 0%, transparent), url(../img/footerbackground.png);
    color: white;
    float:left;
}

.footer-content{
    margin: 0 auto;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    padding-top: 200px;
}

.footer-logo{
    width:90px;
    padding: 20;
}

.footer-logo img{
    width:80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 50px;
    
}

.icons{
    padding-left: 20px;
    padding-right: 20px;
}

.fa {
    width: 50px;
    text-align: center;
    text-decoration: none !important;
    margin: -10px;
    font-size: 1.4em;
    color: #F56C35;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.fa:hover {
    opacity: 0.6!important;
}

.footer-p{
     text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-right: 14px;
}

.effect1{
    -webkit-box-shadow: 0 10px 6px -6px black;
       -moz-box-shadow: 0 10px 6px -6px black;
            box-shadow: 0 10px 6px -6px black;
}

.poster-container{
    width: 80%;
    float: left;
    margin-left: 40px;
}





