h1, h2, h3, h4, h5, h6, a{
    color: white;
    text-decoration: none;
}

p{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.holder{
    width: 80%;
    height: 200px;
    margin-left: 10%;
    margin-top: 7%;
    float: left;
}

.page-title{
    width: 100%;
    
    margin-top: 5%;
    float: left;
    text-align: center;
}

.page-info{
    width: 100%;
    float: left;
    text-align: center;
}

.movie-img-con{
    width: 20%;
    height: 100%;
    background-color: white;
    float: left;
}

.error-img{
    width: 100%;
    height: 70%;
    margin-top: 15%;
    margin-left: 22%;
    background-image: url(../img/unavailable.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.bio{
    width: 55%;
    height: 30%;
    font-size: 14px;
    margin-left: 5%;
    margin-top: 4%;
    float: left;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    min-height: 32px;
    margin-right: 1%;
    margin-top: 2%;
    float: right
}

.button {
    flex: 1 1 auto;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    width: 100px;
    border-radius: 35px;
    background-color: #F56C35;
    height: 25px;
    text-align: center;
    font-size: 11px;
    color: white;
    letter-spacing: 2px;
    padding-top: 3px;
    font-weight: 900;
    margin-top: 30px;
    font-family: 'Montserrat';
    float:left;
    margin-right: 30px;
 }

 .button:hover {
    opacity: 0.6; 
}

.button-container-tablit{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    min-height: 32px;
    margin-left: 15%;
    margin-top: 2%;
    float: left;
}

.watch-btn-tablit{
    width: 40%;
    float: left;
}

.remove-btn-tablit{
    width: 40%;
    float: left;
}

.button-container-mobile{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    min-height: 32px;
    margin-left: 15%;
    margin-top: 2%;
    float: left;
}

.watch-btn-mobile{
    width: 10%;
    float: left;
}

.remove-btn-mobile{
    width: 10%;
    float: left;
}

.img{
    width: 40%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
}